html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #d61726;
    color: #ffffff;
    padding: 15px;

    /* Experiment with this */
    position: sticky;
    top: 0;
}

main {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
}

footer {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 5px;
}

ul, ol {
    list-style-position: inside;
    padding-left: 0;
}

.header-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
    gap: 10px;
}

.header-nav a {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
}

.header-nav a.active {
    background-color: #1e1e1e;
    color: #ffffff;
}

.header-nav a:hover {
    background-color: #ffffff36;
}

.button {
    background-color: #999999;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.button:hover {
    background-color: #1e1e1e;
    color: #ffffff;
}

.search-events input {
    width: 50%;
}