<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <header>
            <h1>UniGather</h1>
            <p>About us</p>

            <nav>
                <ul class="header-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about" class="active">About Us</a></li>
                    <li><a href="/events-page">Events</a></li>
                    <li><a href="/login">Login / Register</a></li>

                </ul>
            </nav>
        </header>

        <main>
            <section></section>
        </main>

        <footer>
            <h2>IN3046 Cloud Computing - Coursework Project</h2>
        </footer>
    </body>
</html>