<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <header>
            <h1>UniGather</h1>
            <p>About us</p>

            <nav>
                <ul class="header-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about" class="active">About Us</a></li>
                    <li><a href="/events-page">Events</a></li>
                    <li><a href="/login">Login / Register</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu lacus ultrices, suscipit ex non, varius tellus.
                    Proin venenatis massa eros, quis tempor nunc egestas vitae.
                    Integer vel nibh ac purus elementum posuere. Fusce finibus
                    nulla ac sapien maximus pellentesque. Ut faucibus sodales
                    ullamcorper.
                </p>

                <p>
                    Nulla felis dui, faucibus vel viverra a, dignissim molestie
                    dui. Aliquam mattis risus in augue lobortis, nec pulvinar
                    nunc cursus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia curae; Sed malesuada urna
                    at est tristique euismod.
                </p>

                <p>
                    Proin commodo ligula erat, nec consequat diam interdum id.
                    Integer neque justo, dapibus interdum rutrum sit amet,
                    ultricies vel metus. Aenean iaculis, lectus eget tempus
                    bibendum, magna velit suscipit massa, eu faucibus leo lacus
                    at justo.
                </p>
            </section>
        </main>

        <footer>
            <h2>IN3046 Cloud Computing - Coursework Project</h2>
        </footer>
    </body>
</html>
