<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UniGather{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <header class="header-nav">
            <div class="nav-left">
                <img
                    src="/static/logoWhite.png"
                    alt="UniGather Logo"
                    class="nav-logo"
                />

                <nav class="nav-buttons">
                    <a
                        href="/"
                        class="{{ 'active' if request.path == '/' else '' }}"
                        >Home</a
                    >
                    <a
                        href="/events-page"
                        class="{{ 'active' if request.path == '/events-page' else '' }}"
                        >Events</a
                    >

                    <a
                        href="/analytics"
                        id="analytics-link"
                        style="display: none"
                        class="{{ 'active' if request.path == '/analytics' else '' }}"
                    >
                        Analytics
                    </a>
                </nav>
            </div>

            <div class="nav-right">
                <div id="user-status" class="user-status">
                    Signed in as: <span id="username-text"></span>
                </div>

                <div class="nav-buttons nav-buttons-right">
                    <a
                        href="/admin"
                        id="admin-link"
                        class="admin-link {{ 'active' if request.path == '/admin' else '' }}"
                        style="display: none"
                        >Admin</a
                    >
                    <a href="/logout" id="nav-logout" style="display: none"
                        >Logout</a
                    >

                    <a
                        href="/login"
                        id="nav-login"
                        class="{{ 'active' if request.path == '/login' or request.path == '/register' else '' }}"
                    >
                        Login / Register
                    </a>
                </div>
            </div>
        </header>

        <main>{% block main %}{% endblock %}</main>

        <footer>
            <h2>IN3046 Cloud Computing - Coursework Project</h2>
        </footer>

        <script src="/static/user.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
