{% extends "base.html" %} {% block title %}Create - UniGather{% endblock %} {%
block main %}

<section class="form-section">
    <h2>Event Creation Form</h2>

    <form class="create-event-form">
        <div class="form-field-normal">
            <label>Host Name:</label>
            <input type="text" name="host_name" required />
        </div>

        <div class="form-field-normal">
            <label>Host Email:</label>
            <input type="email" name="host_email" required />
        </div>

        <div class="form-field-normal">
            <label>Event Name:</label>
            <input type="text" name="event_name" required />
        </div>

        <div class="form-field-normal">
            <label>Event Location:</label>
            <input type="text" name="event_loc" required />
        </div>

        <div class="form-field-normal">
            <label>Event Date:</label>
            <input type="date" name="event_date" required />
        </div>

        <div class="form-field-normal">
            <label>Event Time:</label>
            <input type="time" name="event_time" required />
        </div>

        <!-- Events must have 1 or more space available -->
        <div class="form-field-normal">
            <label>Event Capacity:</label>
            <input type="number" name="event_cap" min="1" required />
        </div>

        <div class="form-field-normal">
            <label>Event Description:</label>
            <textarea name="event_desc" required></textarea>
        </div>

        <div class="form-actions">
            <button type="submit">Submit</button>
        </div>
    </form>
</section>

{% endblock %} {% block scripts %}

<script src="/static/createEvent.js"></script>
{% endblock %}
