{% extends "base.html" %} {% block title %}Events - UniGather{% endblock %} {%
block main %}

<section>
    <a
        href="/create"
        class="button create-event-button"
        id="create-event-button"
    >
        Create event
    </a>

    <form
        class="search-events"
        onsubmit="event.preventDefault(); searchEvents(allEvents);"
    >
        <input
            type="search"
            id="search-input"
            placeholder="Search for an event title..."
        />

        <button type="submit" class="button">Search</button>
        <button
            type="button"
            class="button"
            onclick="getEvents()"
        >
            Refresh
        </button>
    </form>
</section>

<!-- EVENTS RENDER HERE -->
<section id="events-list"></section>

{% endblock %} {% block scripts %}
<script src="/static/eventList.js"></script>
<script src="/static/events.js"></script>
{% endblock %}
