{% extends "base.html" %} {% block title %}Events - UniGather{% endblock %} {%
block main %}

<section>
    <a
        href="/create"
        class="button create-event-button"
        id="create-event-button"
    >
        Create event
    </a>

    <!-- Search Bar -->
    <form
        class="search-events"
        onsubmit="event.preventDefault(); searchEvents(allEvents);"
    >
        <input
            type="search"
            id="search-input"
            placeholder="Search for an event title..."
        />

        <!-- Type "Submit" allows ENTER key to also trigger search -->
        <button type="submit" class="button">Search</button>

        <!-- Refreshes Events List -->
        <button type="button" class="button" onclick="getEvents()">
            Refresh
        </button>
    </form>
</section>

<!-- EVENTS RENDER HERE -->
<section id="events-list"></section>

{% endblock %} {% block scripts %}
<script src="/static/eventList.js"></script>
<script src="/static/events.js"></script>
{% endblock %}
