{% extends "base.html" %} {% block title %}Home - UniGather{% endblock %} {%
block main %}
<h2>Your Upcoming Events</h2>

<section>
    <form
        class="search-events"
        onsubmit="event.preventDefault(); searchEvents();"
    >
        <input
            type="search"
            id="search-input"
            placeholder="Search for an event title..."
        />
        <button type="submit">Search</button>
        <button type="button" onclick="getEvents()">Refresh</button>
    </form>
</section>

<!-- EVENTS RENDER HERE -->
<section id="events-list"></section>
{% endblock %} {% block scripts %}
<script src="/static/eventList.js"></script>
<script src="/static/index.js"></script>
{% endblock %}
