{% extends "base.html" %} {% block title %}Login - UniGather{% endblock %} {%
block main %}
<section class="login-container">
    <div class="login-card">
        <img
            src="/static/logoNormal.png"
            alt="UniGather Logo"
            class="login-logo"
        />
        <h2>Welcome Back</h2>

        <form id="login-form">
            <div class="form-field-normal">
                <label>Email Address</label>
                <input
                    type="email"
                    name="email"
                    placeholder="name@university.ac.uk"
                    required
                />
            </div>

            <div class="form-field-normal">
                <label>Password</label>
                <input type="password" name="password" required />
            </div>

            <div class="form-actions">
                <button type="submit" class="button">Login</button>
            </div>
        </form>

        <div class="register-link-section">
            <p>New to UniGather?</p>
            <a
                href="/register"
                style="color: #d61726; font-weight: bold; text-decoration: none"
                >Create an account</a
            >
        </div>
    </div>
</section>

{% endblock %} {% block scripts %}
<script src="/static/login.js"></script>
{% endblock %}
