{% extends "base.html" %} {% block title %}Register - UniGather{% endblock %} {%
block main %}
<section class="form-section">
    <form action="/register" method="POST" onsubmit="return validateEmail()">
        <div class="form-field-normal">
            <label>Full Name:</label>
            <input
                type="text"
                name="full_name"
                required
                placeholder="John Smith"
            />
        </div>

        <div class="form-field-normal">
            <label>Academic Email:</label>
            <input
                type="email"
                name="email"
                required
                placeholder="name@university.ac.uk"
            />
        </div>

        <div class="form-field-normal">
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>

        <div class="form-actions">
            <p id="error-msg" style="color:red; text-align:center; display:none;"></p>
            <button
                type="submit"
                class="button"
                style="background-color: #28a745; color: white"
            >
                Register
            </button>
        </div>
    </form>
    <p style="text-align: center; margin-top: 20px">
        Already have an account? <a href="/login">Login here</a>
    </p>
</section>
{% endblock %}

{% block scripts %} 

 <script>
    function validateEmail() {
        const email = document.querySelector('input[name="email"]').value;
        const error = document.getElementById("error-msg");

        if (!email.endsWith("@city.ac.uk")) {
            error.innerText = "Registration is restricted to @city.ac.uk email addresses.";
            error.style.display = "block";
            return false;
        }

        error.style.display = "none";
        return true;
    }
</script>

{% endblock %}
